/*  All pages css annd responsive of page is come in side the page.css  */
* {
    padding: 0px;
    margin: 0px;
}

/*---------------------------------------------------------------About us Css start  ------------------------------------------------------------------ */

.left-contnet-para {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-poster-section {
   
    background: url("https://img.veenaworld.com/vw-assets/images/homepage/World-map.svg");
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-color: #081021;
    
}

.main-certificate-image{
    display: flex;
   
    padding: 10px;
    gap: 10px;
}

.main-content-poster-page {
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5)
}

.per-page-poster-content {
    width: 68%;
    font-weight: 600;
}

.per-page-poster-content p {
    font-size: 3.6rem;
    line-height: 4rem;  
}

.future-icon{
    border: 2px solid #F34A31;   
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.future-icon img{
    width: 100%;
    
}
.per-poster-para {
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: .4px;
    width: 52%;
    text-align: justify;
}

#globe-container img {
    width: 100%;
}

.our-future {
    background-color: #081021;
    border: 1px solid black;
    display: flex;
    padding: 5%;
    gap: 20px;
}

.image-and-heading-future {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.future-heading {
    font-size: 20px;
    font-weight: 600;
    color: #081021;
}

.main-class-future {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 35%;

}

.varified-by-main-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.future-para p {
    text-align: center;
    letter-spacing: .9px;
    line-height: 1.5rem;
    font-size: 14px;
    color: #152038;

}

.certified-by{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.varify-by-name-and-subnames{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
    margin-top: 4%;
}

.varify-by-section{
    padding: 5%;
    
    background-color: #F6F7F8;
}
.certified-name p{

    font-size: 18px;
    font-weight: 600;
    color: #152038;

}
.sort-form{
    display: flex;
    align-items: center;
    gap: 5px;
}

.full-form{
    color: #152038;
    font-size: 14px;
}

.certified-icon svg{
    fill: #F34A31;
    font-size: 1.2rem;
}

/* -----------------------------------------------------------------------------------------About us css Ends --------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------Contact us Css starts ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

.top-poster-section-contact-us{
  background: url("https://img.veenaworld.com/vw-assets/images/homepage/World-map.svg");
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-color: #081021;
}



.location-via-map iframe{
    width: 100%;
    height: 400px;
}


/* -------------------------------------------------------------------------------------------contact us css ends ------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/*---------------------------------------------------------------------------------------------- course  section start------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.button-categoryes{
  
    display: flex;
    width: 50%;
    margin: 2% auto;
    justify-content: space-between;

}

.bg-color{
   
    padding: 5%;
    background-color: #F6F7F8;
}

.c-h{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;

}

.buttons-cat{
    
    padding: 5px;
    background-color: #F34A31;
    color: white;
    font-weight: 600;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-icon{
      padding: 5px;
    background-color:#152038;
    color: white;
    font-weight: 600;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

.course-deatils-course-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-class-our-course{
    border: 1px solid #152038;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.course-image{    
    width:20%;
}

.course-image img{
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.course-page-course-content{
    width: 50%;
}

.course-page-course-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-page-course-name{
    font-size: 1.2rem;
    color: #162645;
    font-weight: 600;
}

.course-page-course-detials{
    font-size: 14px;
    line-height: 1.5rem;
    letter-spacing: .4px;
    color: #515355;
}

.course-page-buttons{
    width: 20%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.enq{
    
    width: 80%;
    text-align: center;
    padding: 5px;
    background-color: #F34A31;
    color: white;
    border-radius: 5px;
}


.course-price-course-page{
   gap: 10px;
    display: flex;
}

.course-price-course-page p{
    display: flex;    
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #152038;

}


/*------------------------------------------------------------------------------------------------application from page ------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.addmission-form{
    padding: 5%;
}

.heading-form{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}

.main-class-form{
    border: 2px solid #081021;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #081021;
}
.wrapper-from{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.buttons-form{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    
}

.buttons-form button{
    width: 20%;
    padding: 1%;
    background-color: #F34A31;
    
}

.input-form-for-three-input{
   
    display: flex;
    justify-content: space-between;
}
.input-form-for-three-input input{
    padding: 10px !important;
    color: #081021;
    
}
.three-feilds{
    display: flex;
    flex-direction: column;    
    width: 49%;

}
.three-feilds label{    
    padding: 8px;
    font-size: 18px;    
}
.three-feilds  input{
    border: 2px solid black;
    padding: 5px;
    width: 100%;
}

.radio-buttons{
    border: 1px solid white;
    width: 49%;    
}

.three-feilds select{
    padding: 13px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    color: black;

}

.three-feilds select option{
    color: black;
}

/* ------------------------------------------------------------------------------------------------application from ends here ------------------------------------------------------------------------------------------------------------------------------------------------------ */




/*----------------------------------------------------------------------------------------------- course section ends--------------------------------------------------------------------------------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------------- term and condition-page css start ------------------------------------------------------------------------------------------------------------------------------------------------ */

.trem-and-condition-main{
    padding: 5%;
}

.term-and-condition-content p{
    
    gap: 10px;
    margin-top: 1%;
    font-size: 17px;
    line-height: 1.7rem;
}

.large-heading p{
    font-size: 1.7rem;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 600;
    color: #152038;
    border-bottom: 2px solid #162645;
    
}

.bold-color{
    color: #F34A31;
    font-weight: 600;
}

.cards{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.main-cards-inside{
   border-radius: 10px;
    padding: 5%;
    background-color: #081021;
font-weight: 500;
color: white;
font-family: Rubik
sans-serif;

}
.main-cards-inside p{
    font-size: 15px;
    text-align: start;
}


@media (max-width:600px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
}

/* ---------------------------------------------------------------------------------------------- term and condition ends ------------------------------------------------------------------------------------------------------------------------------------------------------------*/