* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

/* -------------------------------------------------Nav bar css start------------------------------------------------------------------ */
.top-nev {
    color: white;
    background-color:#081021;
    padding: 0.5% 2%;
    display: flex;
    justify-content: space-between;
}

.full-width {
  width: 100%;
  background: white;

}


.contact-details {
    width: 30%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.contact-details ul {
    gap: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-media-links {
    width: 15%;
}

.social-media-links ul {
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-media-links ul li svg {
    display: flex;
}

.main-wrapper {
    position: sticky;
    margin: auto;
    align-items: center;
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
}

.pages {
    width: 50%;
}

.pages ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.pages ul li {
    font-size: 14px;
    font-weight: 600;
}

.buttons {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.login-button {
    width: 45%;
}

.signup-button {
    width: 45%;
}

.signup-button button {
    width: 100%;
    padding: 7px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #F34A31;
    border-radius: 5px;
    font-weight: 600;
}

.login-button button {
    width: 100%;
    padding: 7px;
    font-size: 14px;
    background-color: #F34A31;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;

}

/*------------------------------------------------------------------------------------- Nev bar sections ends---------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------Hero section starts ------------------------------------------------------------------------------------ */

/* --------------------------------------------------------------------------------------poster section css start--------------------------------------------------------------------------------- */

.main-hero-section {

    color: white;
    background: url("https://res.cloudinary.com/dxgmovaih/image/upload/v1754126712/17_eb2deh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

.main-hero-section-content-starts {

    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company-name p {
    color: #F34A31;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .4px;
}

.company-discripction-heading {
    width: 68%;
    font-size: 4.5rem;
    font-weight: 600;
}

.company-discripction {
    
    width: 50%;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: .4px;

}

.main-poster-buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;

}

.enroll-now {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    font-weight: 600;
    color: black;
    border: none;
    border-radius: 5px;

}

.enquiry-now {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    background-color: #F34A31;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
}

/* --------------------------------------------------------------------------------------poster section ends---------------------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------------about-us------------------------------------------------------------------------------------------------------- */

.wrapper{
    padding: 5%;
}


.about-us-hero{
    display: flex;
    justify-content: space-between;
     align-items: center;

}

.left-side-about-us{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about-us-sub-heading{
    font-size: 14px;
    font-weight: 600;
    color: #F34A31;
}

.para-about-us-hero-heading{
    font-size: 20px;
    font-weight: 600;
    color: #081021;
}

.right-side-about-us{

    width: 55%;
    justify-content: space-between;
    display: flex;
}
.content-about-us-hero{
    font-size: 14px;
    line-height: 1.5rem;
    letter-spacing: .4px;
    color: #515355;
}

.button-know-more{
    padding: 10px;
    width: 30%;
    background-color: #F34A31;
    border: none;
     border-radius: 5px;
     font-size: 14px;
     font-weight: 600;
     color: white;
}
.image-of-persion {
 width: 50%;
}
.image-of-persion img{
    width: 80%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.posters-adv{  
    display: flex;  
    background-color: #081021;
    justify-content: space-between;
    padding: 5%;
   
}

.main-img-posters-adv{
 
    border-radius: 5px;
    width: 30%;
}

.posters-adv img{
    width: 100%;
     border-radius: 5px;
}


/*------------------------------------------------------------------------------------- course section css start -----------------------------------------------------------------------------------*/
.our-program{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.left-side-our-program{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-side-our-program{
    width: 45%;
}
.right-side-our-program img{
    width: 100%;
    border-radius: 10px;
}

.provide ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.provide ul li{
     font-size: 14px;
     color: #162645;
     font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.provide ul span{
    display: flex;
    font-size: 2rem;  
    background-color: #F34A31;
    color: white;
    padding: 10px;
    border-radius: 100%;
    
}
.course-rating{
    display: flex;

}
.course-rating p{
    display: flex;
    gap: 10px;
    color: #162645;
    font-weight: 600;
}
.course-rating p span svg{
    fill: #F34A31;
}
.course_data{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    padding: 5% 0%;
    gap: 20px;
}


.course-images img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.course-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #162645;
    padding: 5px;
    border-radius: 10px;
}

.course-cards-buttons{
    display: flex;
    justify-content: space-between;
}

.course-cards-buttons button{

    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: #F34A31;
    color: white;
    border-radius: 5px;
    
}

.course-name p{
    font-size: 14px;
    font-weight: 600;
    color: #162645;
}

.card-hr{
    border: 1px light #162645;
}



/* --------------------------------------------------------------------------------------course section ends ----------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------Why choose us section -------------------------------------------------------------------------------------- */



.why-choose-us-section{

}

.overlay{
    
    padding: 5% 2%;
    /* background-color: rgba(177, 164, 164, 0.5); */
}




.why-choose-us-section ul{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

/* ---------------------------------------------------------------------------------------Why choose us section ends -------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------hero section ends --------------------------------------------------------------------------------------- */