* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    
    
}

html, body {
  overflow-x: hidden;
}



/* -------------------------------------------------Nav bar css start------------------------------------------------------------------ */
.top-nev {
    color: white;
    background-color: #081021;
    padding: 0.5% 2%;
    display: flex;
    justify-content: space-between;
}

.full-width {
    width: 100%;
    background: white;

}

.contact-details {
    width: 30%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.contact-details ul {
    gap: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-media-links {
    width: 15%;
}

.social-media-links ul {
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-media-links ul li svg {
    display: flex;
}

.main-wrapper {
    position: sticky;
    margin: auto;
    align-items: center;
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.logo {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
}

.pages {
    width: 50%;
}

.pages ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.pages ul li {
    font-size: 14px;
    font-weight: 600;
}

.pages ul li:hover {
    color: #F34A31;
    cursor: pointer;
}

.pages ul li button {
    background-color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
}

.pages ul li button:hover {
    color: #F34A31;
    cursor: pointer;

}

.buttons {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.hamburger{
    display: none;
}

.login-button {
    width: 45%;
}

.signup-button {
    width: 45%;
}

.signup-button button {
    width: 100%;
    padding: 7px;
    font-size: 14px;
    background-color: white;
    border: 1px solid #F34A31;
    border-radius: 5px;
    font-weight: 600;
}

.login-button button {
    width: 100%;
    padding: 7px;
    font-size: 14px;
    background-color: #F34A31;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;

}

.main-side-bar{
    display: none;
}

.side-nav-bar{
  
   position: absolute;
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #162645;
    color: white;
    

}


.pages-list-side-bar{
    
  
}

.pages-list-side-bar ul{
    list-style: none;
    
}

.pages-list-side-bar ul li {
    display: flex;
    gap: 10px;
    padding: 2%;
    font-size: 18px;
    font-weight: 600;

}

.side-bar-buttons{
    
    display: flex;
    gap: 10px;
    padding: 2%;
}

.mob-login-button{
    
    width: 20%;
 
}

.mob-login-button button{
    width: 100%;
    padding: 8%;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.s button{
 background-color: white;
 border: 1px solid white;
}

.l button {
   
    border: none;
    color: white;
    background-color: #F34A31;

}

.line-side-bar{
    border: 1px solid #F34A31;
}

.social-media-list-side-bar ul{

    list-style: none;
    display: flex;
    padding: 2%;
 
    gap: 20px;
    font-size: 2rem;

}

/*------------------------------------------------------------------------------------- Nev bar sections ends---------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------Hero section starts ------------------------------------------------------------------------------------ */

/* --------------------------------------------------------------------------------------poster section css start--------------------------------------------------------------------------------- */

.main-hero-section {
   overflow: hidden;
    color: white;
    background: url("https://res.cloudinary.com/dxgmovaih/image/upload/v1754126712/17_eb2deh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

.main-hero-section-content-starts {

    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
}

.company-name p {
    color: #F34A31;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .4px;
}

.company-discripction-heading {
    width: 68%;
    font-size: 4.5rem;
    font-weight: 600;
}

.company-discripction {

    width: 50%;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: .4px;

}

.main-poster-buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;

}

.enroll-now {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    font-weight: 600;
    color: black;
    border: none;
    border-radius: 5px;

}

.enroll-now:hover {
    background-color: #F34A31;
    color: white;
    cursor: pointer;
}

.enquiry-now {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    background-color: #F34A31;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
}

.enquiry-now:hover {
    background-color: #081021;
    color: white;
    cursor: pointer;
}

/* --------------------------------------------------------------------------------------poster section ends---------------------------------------------------------------------------------------- */



/* -----------------------------------------------------------------------------------about-us------------------------------------------------------------------------------------------------------- */

.wrapper {
    background-color: #F6F7F8;
    padding: 5%;
}


.about-us-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

.left-side-about-us {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
}

.about-us-sub-heading {
    font-size: 14px;
    font-weight: 600;
    color: #F34A31;
}

.para-about-us-hero-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #081021;
}

.right-side-about-us {
   overflow: hidden;
    width: 55%;
    justify-content: space-between;
    display: flex;
}

.content-about-us-hero {
    font-size: 14px;
    line-height: 1.5rem;
    letter-spacing: .4px;
    color: #515355;
}

.button-know-more {
    padding: 10px;
    width: 30%;
    background-color: #F34A31;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.image-of-persion {
    width: 50%;
}

.image-of-persion img {
    width: 80%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.posters-adv {
    display: flex;
    background-color: #081021;
    justify-content: space-between;
    padding: 5%;

}

.main-img-posters-adv {

    border-radius: 5px;
    width: 30%;
}

.posters-adv img {
    width: 100%;
    border-radius: 5px;
}

.why-choose-us-section-main {
    padding: 5%;
}


/*------------------------------------------------------------------------------------- course section css start -----------------------------------------------------------------------------------*/
.Course-heading {

    padding: 5%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.content-our-course p {
    font-size: 1.8rem;
    color: #162645;
    font-weight: 600;
}

.color {
    color: #F34A31;
}

.course-para {
    font-size: 1.5rem;
    color: #162645;
}

.our-program {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.left-side-our-program {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.right-side-our-program {

    width: 45%;
}

.right-side-our-program img {
    width: 100%;
    border-radius: 10px;
}

.provide ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.provide ul li {
    font-size: 14px;
    color: #162645;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.provide ul span {
    display: flex;
    font-size: 2rem;
    background-color: #F34A31;
    color: white;
    padding: 10px;
    border-radius: 100%;

}

.course-rating {
    display: flex;

}

.course-rating p {
    display: flex;
    gap: 10px;
    color: #162645;
    font-weight: 600;
}

.course-rating p span svg {
    fill: #F34A31;
}

.course_data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.course-images img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.course-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px light #162645;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(75, 71, 71, 0.5);
}

.course-cards-buttons {
    display: flex;
    justify-content: space-between;
}

.course-cards-buttons button {

    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: #F34A31;
    color: white;
    border-radius: 5px;

}

.course-name p {
    font-size: 14px;
    font-weight: 600;
    color: #162645;
}

.card-hr {
    border: 1px light #162645;
}



/* --------------------------------------------------------------------------------------course section ends ----------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------Why choose us section -------------------------------------------------------------------------------------- */




.overlay {


    /* background-color: rgba(177, 164, 164, 0.5); */
}




.why-choose-us-section ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ---------------------------------------------------------------------------------------Why choose us section ends -------------------------------------------------------------------------------------- */

/*  -----------------------------------------------------------------------------------------Meet our team css start---------------------------------------------------------------------------------------- */

.meet-our-team-section {

    text-align: center;
    padding: 5%;
    background-color: #081021;
}

.meet-our-team {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.our-team-heading {
    font-size: 14px;
    font-weight: 600;
    color: #F34A31;
}

.instructor-image-top-class {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

.our-team-para {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.instructor-images {


    position: relative;

    width: 30%;
}

.instructor-images img {
    width: 100%;
}


.social-media-of-teachers {
    position: absolute;
    top: 15px;
    right: 15px;
}

.social-media-of-teachers ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 600;

}

.social-media-of-teachers ul li {

    color: white;
    background-color: #F34A31;
    border-radius: 100%;
    padding: 8px;


}

.social-media-of-teachers ul li svg {
    display: flex;
}

.teacher-name-and-occ {

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.t-name {
    color: white;
    font-weight: 600;
}

.t-occ {
    color: #F34A31;
}

/*  -----------------------------------------------------------------------------------------Meet our team css ends---------------------------------------------------------------------------------------- */


/*------------------------------------------------------------------------------------------- contsct us section css start ----------------------------------------------------------------------------------*/
.form-contact-us {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading-content {
    font-size: 1.4rem;
    font-weight: 600;
    color: white;

}

.contact-ua-top-section {
    display: flex;
    justify-content: space-between;
    padding: 5%;
   



}


.right-side-contact-us {
    border: 1px solid black;
    background-color: #081021;
    border-radius: 5px;
    width: 45%;
    padding: 2%;
}

.contact-us-main-content {

    display: flex;
    gap: 20px;
    justify-content: center;
}

.contact-us-input-feild-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.two-input-feilds {

    display: flex;
    justify-content: space-between;
}

.f {
    width: 48%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    font-size: 14px;
    color: #F6F7F8;
}

input {
    padding: 15px;
    border-radius: 5px;
    border: none;
}

.single-input-feild {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.single-input-feild textarea {
    border-radius: 10px;
}

.single-input-feild textarea::placeholder {
    display: flex;
    text-align: center;
    padding-top: 8%;
    font-size: 14px;
    font-weight: 600;

}

.button-sub {
    text-align: center;
    display: flex;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.submit-contact-us {
    padding: 10px;
    width: 30%;
    font-size: 14px;
    font-weight: 600;
    background-color: #F34A31;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 3px;

}

.submit-contact-us:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.submit-contact-us span {

    display: flex;

}

.content-about-us-hero ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-about-us-hero ul li {
    display: flex;

    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
}

.content-about-us-hero ul li span {

    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
    background-color: #F34A31;
    color: white;

    font-size: 15px;

}

.content-about-us-hero ul li span svg {
    font-weight: 700;
}


/*--------------------------------------------------------------------------------------- footer section css starts --------------------------------------------------------------------------------*/
.main-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin-top: 5%;
    position: relative;
    background-color: #081021;
}


.footer-image img {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 50%;
    top: 5px;
    border: 5px solid #F34A31;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    transform: translate(-50%, -50%);


}

.history-of-us {

    width: 80%;
    margin: auto;
    line-height: 1.3rem;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    letter-spacing: .4px;
    color: #c8c8c9;

}

.history-and-social-meadia-links-footer {

    margin-top: 5%;
}

.footer-section-social-media ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.6rem;
    margin-top: 2%;

}

.footer-section-social-media ul li {

    display: flex;
    padding: 10px;
    border-radius: 100%;
    background-color: #F34A31;
}

.footer-section-social-media ul li:hover {
    background-color: white;
    color: #081021;
}

.footer-links {
    padding: 0% 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);


}

.main-copy {

    letter-spacing: .6px;

}

.main-copy p {
    display: flex;
    font-size: 14px;

}

.main-copy span {
    display: flex;
    border: 1px solid #162645;

}

.footer-page-section-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-links-on-footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-links-on-footer ul li {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #c8c8c9;
}

.inside-footer-links-sub p {
    font-size: 16px;
    letter-spacing: .6px;
    font-weight: 600;
}

.line {
    margin: 2% 0%;
}

.copy-right-sections {
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    margin-bottom: 2%;
}

.copy-links {
    font-size: 14px;
}

.list-links-on-footer ul li {

    width: fit-content;
}

.list-links-on-footer ul li:hover {
    color: #F34A31;
}

.ham{
    display: none;
}

/* ---------------------------------------------------------------------------------------hero section ends --------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------ Student Review section start -------------------------------------------------------------------------------- */
.center{
    text-align: center;
}
.testmonial{
    background-color: white;
}
.student-review-main-div{
   
    display: flex;
    gap: 10px;
    margin-top: 5%;
   
}

.main-student-div{
    padding: 10px;
    border: 1px solid #081021;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.student-image {
    border: 3px solid #F34A31;
    border-radius: 100%;    
    width: 30%;
    padding: 5px;
}

.student-image img {
    width: 100%;
    border-radius: 100%;
    
}

.student-message {

    height: 150px;
}

.student-message p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5rem;
    color: #152038;
}

.student-name-and-position{

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.student-name{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .4px;
    color: #152038;
}

.student-position{
       font-size: 18px;
    font-weight: 600;
    letter-spacing: .4px;
    color: #152038;
}
/* ------------------------------------------------------------------------------------ Student Review ends ------------------------------------------------------------------------------------------ */

/*-----------------------------------------------------------------------------------------Responsive css start ------------------------------------------------------------------------------------- */

@media only screen and (max-width: 800px) {

  

    .logo{
        width: 10%;
    }

    .pages {
        width: 70%;
        display: none;
    }

    .pages ul li {
        font-size: 13px;
    }

    .pages ul li button {
        font-size: 13px;
    }

    

    .signup-button{
        display: none;

    }

    .login-button{
        display: none;
    }

    .ham{
        display: block;
    }

    .hamburger{
        display: flex;
        font-size: 2rem;        
        align-items: center;
        justify-items: center;
        
    }

    .main-side-bar{
        display: block;
    }

    .hamburger button{
        background-color: white;
        border: none;
    }

      .hamburger button svg{
        display: flex;
        font-size: 2.6rem;
        color: #F34A31;
      }

    .company-discripction-heading {
        font-size: 2.5rem;
        width: 90%;
    }

    .company-discripction {
        font-size: 15px;
        width: 90%;
    }

    .main-poster-buttons {
        width: 45%;
        font-size: 14px;
    }

    .enquiry-now {
        font-size: 14px;
        padding: 10px;
        width: 40%;
    }

    .enroll-now {
        font-size: 14px;
        padding: 10px;
        width: 40%;
    }

    .about-us-hero {
        padding: 5%;
        flex-direction: column;
        gap: 20px;
    }

    .wrapper {
        padding: 2% 1%;
    }

    .left-side-about-us {
        width: 100%;
    }

    .para-about-us-hero-heading {
        font-size: 1.4rem;
    }

    .right-side-about-us {

        width: 100%;

    }

    .image-of-persion {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .our-program {
        flex-direction: column;
        padding: 5% 0%;
    }

    .left-side-our-program {
        width: 90%;
    }

    .right-side-our-program {
        margin-top: 5%;
        width: 90%;
    }

    .course_data {
        padding: 5%;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-ua-top-section {
        flex-direction: column;
    }

    .right-side-contact-us {
        margin-top: 5%;
        width: 96%;
    }

    .content-about-us-hero ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-links {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .main-copy {

        width: 79%;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .why-choose-us-section-main {
        padding: 2%;
    }

    .copy-right-sections {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}


@media only screen and (max-width: 600px) {

    .top-nev {
        flex-direction: column;
        gap: 10px;
        display: none;

    }

    .contact-details {
        padding: 5% 0%;
        width: 100%;
        justify-content: space-between;
    }

    .contact-details ul {

        width: 100%;
        font-size: 20px;
    }

    .social-media-links {
        width: 100%;
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 3%;
    }

    .logo {
        width: 20%;
    }

    .social-media-links ul {
        gap: 10px;
        font-size: 2rem;
    }

    .company-discripction-heading {
        font-size: 2rem;
    }

    .company-discripction {

        letter-spacing: 1px;
        font-size: 14px;
    }

    .main-poster-buttons {
        width: 90%;
    }

    .about-us-hero {
        padding: 5%;
    }

    .image-of-persion img {
        width: 95%;
        height: 224px;
    }

    .posters-adv {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .main-img-posters-adv {
        width: 100%;

    }

    .content-about-us-hero ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .why-choose-us-section ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .instructor-image-top-class {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .social-media-of-teachers ul{
        gap: 5px;
    }

    .submit-contact-us{
        width: 50%;
    }

    .instructor-images {
        width: 90%;
    }

    .social-media-of-teachers ul {
        font-size: 1rem;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }

    .history-and-social-meadia-links-footer {
        margin-top: 15%;
    }

    .course_data {
        grid-template-columns: repeat(1, 1fr);
    }

}



/*-----------------------------------------------------------------------------------------responsive css ends ----------------------------------------------------------------------------------------*/